@import url(./css_sprite.css);
.wrapper {
  width: 750px; }

.index_bg {
  width: 750px;
  height: 100vh;
  background-size: cover;
  background-position: 0 -130px;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box; }
  .index_bg .top_bar {
    padding-top: 24px;
    display: flex;
    align-items: center; }
    .index_bg .top_bar .back_arrow {
      margin-left: 18px; }
    .index_bg .top_bar .progress_bar {
      position: relative;
      margin-left: 100px;
      width: 250px;
      height: 41px; }
      .index_bg .top_bar .progress_bar .getback_bar {
        height: 39px;
        width: 60%;
        position: absolute;
        background-color: #ffca35;
        border: 1px solid #ffca35;
        border-radius: 20px;
        background-size: 3em 3em;
        background-image: linear-gradient(-45deg, transparent 0em, transparent 0.6em, #ffda5b 0.7em, #ffda5b 1.9em, transparent 2em, transparent 2.6em, #ffda5b 2.7em, #ffda5b 3.9em);
        top: 0;
        left: 0;
        z-index: 11; }
      .index_bg .top_bar .progress_bar .bg-getback_bg {
        position: absolute;
        left: 0;
        top: 0; }
    .index_bg .top_bar .get_backbtn {
      position: relative;
      margin-left: 10px;
      height: 41px;
      width: 84px; }
      .index_bg .top_bar .get_backbtn .get_backbtntext {
        height: 41px;
        line-height: 41px; }
      .index_bg .top_bar .get_backbtn .red_point {
        background: #fc3930;
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        top: 0;
        right: 0; }
    .index_bg .top_bar .medal {
      margin-left: 74px; }
  .index_bg .float_icon {
    position: relative;
    padding-top: 15px; }
    .index_bg .float_icon .icon {
      margin: 0 auto 0;
      line-height: 40px; }
  .index_bg .book {
    top: 190px;
    right: 18px; }
  .index_bg .theme {
    top: 305px;
    right: 18px; }
  .index_bg .dog_area {
    position: absolute;
    left: 100px;
    top: 355px; }
  .index_bg .board_area {
    position: absolute;
    left: 500px;
    top: 355px; }
    .index_bg .board_area .board_text {
      padding: 35px 10px 0; }
  .index_bg .experience {
    position: absolute;
    right: 16px;
    top: 142px; }
    .index_bg .experience .experience_bar {
      height: 4px;
      background: white;
      width: 100px;
      border-radius: 2px;
      position: relative; }
      .index_bg .experience .experience_bar .experience_get {
        height: 4px;
        background: #fe7145;
        width: 60px;
        border-radius: 2px;
        position: absolute;
        left: 0;
        top: 0; }
  .index_bg .tree_area {
    position: relative;
    margin-top: 30px; }
  .index_bg .tree_leaves {
    position: absolute;
    top: 0;
    left: 150px;
    z-index: 1; }
  .index_bg .tree_root {
    position: absolute;
    top: 320px;
    left: 285px; }
  .index_bg .tree_fruit {
    position: absolute;
    z-index: 2; }
    .index_bg .tree_fruit .dialog {
      top: -30px;
      left: 50%;
      transform: translateX(-55%); }
  .index_bg .fruit_1 {
    top: 50px;
    left: 165px; }
  .index_bg .fruit_2 {
    top: 20px;
    left: 285px; }
  .index_bg .fruit_3 {
    top: 20px;
    left: 435px; }
  .index_bg .fruit_4 {
    top: 155px;
    left: 115px; }
  .index_bg .fruit_5 {
    top: 115px;
    left: 360px; }
  .index_bg .fruit_6 {
    top: 125px;
    left: 535px; }
  .index_bg .fruit_7 {
    top: 240px;
    left: 155px; }
  .index_bg .fruit_8 {
    top: 175px;
    left: 230px; }
  .index_bg .fruit_9 {
    top: 245px;
    left: 495px; }
  .index_bg .fruit_10 {
    top: 288px;
    left: 403px; }
  .index_bg .tree_hand {
    position: absolute;
    top: 57px;
    left: 48px;
    z-index: 11; }
  .index_bg .water_area {
    position: absolute;
    top: 55px;
    left: 480px;
    z-index: 3;
    width: 145px;
    height: 90px; }
    .index_bg .water_area .water_pot {
      position: absolute;
      top: 0;
      right: 0; }
    .index_bg .water_area .water_animation_3 {
      position: absolute;
      top: 50px;
      left: 50px; }
    .index_bg .water_area .water_animation_2 {
      position: absolute;
      top: 55px;
      left: 35px; }
    .index_bg .water_area .water_animation_1 {
      position: absolute;
      top: 60px;
      left: 20px; }
  .index_bg .fertilizer_area {
    position: absolute;
    top: 55px;
    left: 470px;
    z-index: 3;
    width: 145px;
    height: 130px; }
    .index_bg .fertilizer_area .fertilizer_bag {
      position: absolute;
      top: 0;
      right: 0; }
    .index_bg .fertilizer_area .fertilizer_animation_3 {
      position: absolute;
      top: 35px;
      left: 50px; }
    .index_bg .fertilizer_area .fertilizer_animation_2 {
      position: absolute;
      top: 45px;
      left: 40px; }
    .index_bg .fertilizer_area .fertilizer_animation_1 {
      position: absolute;
      top: 60px;
      left: 35px; }
  .index_bg .grass {
    position: absolute;
    top: 460px;
    left: 265px; }
  .index_bg .tools_list {
    position: absolute;
    bottom: 420px;
    display: flex; }
    .index_bg .tools_list .tools {
      flex: 0 0 auto;
      position: relative; }
      .index_bg .tools_list .tools .extra_text {
        position: absolute;
        right: 10px;
        top: 10px; }
      .index_bg .tools_list .tools .dialog {
        top: -30px;
        left: 50%;
        transform: translateX(-50%); }
    .index_bg .tools_list .warehouse {
      margin-left: 0; }
    .index_bg .tools_list .can_water {
      margin-left: 65px; }
    .index_bg .tools_list .can_fertilizer {
      margin-left: -20px; }
    .index_bg .tools_list .invite {
      margin-left: 65px; }
  .index_bg .bottom_area {
    position: absolute;
    bottom: 0; }
    .index_bg .bottom_area .bottom_tablist {
      width: 750px;
      display: flex; }
      .index_bg .bottom_area .bottom_tablist .bottom_tab {
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        padding: 20px 0px;
        border-radius: 10px 10px 0 0;
        background-color: #e8d0a0; }
        .index_bg .bottom_area .bottom_tablist .bottom_tab:first-of-type {
          box-shadow: 5px 5px #d2b584; }
        .index_bg .bottom_area .bottom_tablist .bottom_tab:last-of-type {
          box-shadow: -5px 5px #d2b584; }
      .index_bg .bottom_area .bottom_tablist .active_tab {
        z-index: 10;
        background-color: #fef4e1;
        font-weight: bolder; }
    .index_bg .bottom_area .friendlist {
      margin-top: -1px;
      z-index: 11;
      position: relative;
      height: 292px;
      overflow: scroll; }
      .index_bg .bottom_area .friendlist .friend_item {
        display: flex;
        padding: 40px 0;
        margin: 0 28px;
        border-top: 1px solid #f7ddb2;
        height: 146px;
        box-sizing: border-box; }
        .index_bg .bottom_area .friendlist .friend_item .headpic {
          width: 64px;
          height: 64px;
          display: block;
          border-radius: 50%;
          flex: 0 0 auto;
          margin-right: 18px; }
        .index_bg .bottom_area .friendlist .friend_item .info {
          flex: 1 1 auto; }
        .index_bg .bottom_area .friendlist .friend_item .button {
          flex: 0 0 auto;
          line-height: 50px; }
        .index_bg .bottom_area .friendlist .friend_item:first-of-type {
          border-top: none; }

.gift_bg {
  width: 750px;
  height: 100vh;
  background-size: cover;
  background-position: 0 -130px;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 48px;
  box-sizing: border-box; }
  .gift_bg .full_data {
    margin-top: 30px;
    margin-bottom: 40px; }
    .gift_bg .full_data .data_item {
      display: inline-block; }
    .gift_bg .full_data .grow_days {
      margin-left: 80px; }
    .gift_bg .full_data .water_times {
      margin-left: 130px; }
    .gift_bg .full_data .fertilize_times {
      margin-left: 150px; }
  .gift_bg .bottom_area .bottom_tablist {
    width: 750px;
    display: flex; }
    .gift_bg .bottom_area .bottom_tablist .bottom_tab {
      display: inline-block;
      width: 50%;
      box-sizing: border-box;
      padding: 20px 0px;
      border-radius: 10px 10px 0 0;
      background-color: #e8d0a0; }
      .gift_bg .bottom_area .bottom_tablist .bottom_tab:first-of-type {
        box-shadow: 5px 5px #d2b584; }
      .gift_bg .bottom_area .bottom_tablist .bottom_tab:last-of-type {
        box-shadow: -5px 5px #d2b584; }
    .gift_bg .bottom_area .bottom_tablist .active_tab {
      z-index: 10;
      background-color: #fef4e1;
      font-weight: bolder; }
  .gift_bg .bottom_area .exchange_area {
    margin-top: -1px;
    z-index: 11;
    position: relative;
    overflow: scroll; }
    .gift_bg .bottom_area .exchange_area .exchange_tips {
      background: #feeac9;
      margin: 16px 16px 0;
      border-radius: 10px;
      line-height: 50px; }
    .gift_bg .bottom_area .exchange_area .exchangelist {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 60px;
      height: 868px;
      box-sizing: border-box;
      overflow: scroll; }
      .gift_bg .bottom_area .exchange_area .exchangelist .exchange_item {
        padding: 20px;
        margin: 20px;
        margin-right: 0;
        margin-bottom: 0;
        box-sizing: border-box;
        background: white;
        width: 345px; }
        .gift_bg .bottom_area .exchange_area .exchangelist .exchange_item .prizeinfo {
          border-bottom: 1px dotted #faedd6;
          padding-bottom: 10px;
          margin-bottom: 10px; }
          .gift_bg .bottom_area .exchange_area .exchangelist .exchange_item .prizeinfo .prizename {
            margin-bottom: 10px; }
          .gift_bg .bottom_area .exchange_area .exchangelist .exchange_item .prizeinfo .process_bar {
            margin-bottom: 10px;
            width: 150px;
            height: 25px;
            border-radius: 20px;
            position: relative; }
            .gift_bg .bottom_area .exchange_area .exchangelist .exchange_item .prizeinfo .process_bar .rest_bar {
              width: 50%;
              height: 25px;
              background: #ffcd33;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 20px; }
            .gift_bg .bottom_area .exchange_area .exchangelist .exchange_item .prizeinfo .process_bar .full_bar {
              background: #ededed;
              height: 25px;
              border-radius: 20px; }
            .gift_bg .bottom_area .exchange_area .exchangelist .exchange_item .prizeinfo .process_bar .process_text {
              position: absolute;
              width: 100%;
              top: 0;
              left: 0; }
        .gift_bg .bottom_area .exchange_area .exchangelist .exchange_item .prizeprice {
          margin-bottom: 10px; }
        .gift_bg .bottom_area .exchange_area .exchangelist .exchange_item .prizeimg {
          display: block; }
        .gift_bg .bottom_area .exchange_area .exchangelist .exchange_item .info {
          flex: 1 1 auto; }
        .gift_bg .bottom_area .exchange_area .exchangelist .exchange_item .button {
          line-height: 62px; }
        .gift_bg .bottom_area .exchange_area .exchangelist .exchange_item:first-of-type {
          border-top: none; }
  .gift_bg .bottom_area .prize_list {
    margin-top: -1px;
    z-index: 11;
    position: relative;
    overflow: scroll;
    height: 960px; }
    .gift_bg .bottom_area .prize_list .prize_item {
      padding: 20px 0;
      margin: 0 20px;
      display: flex;
      border-bottom: 1px solid #f7daab; }
      .gift_bg .bottom_area .prize_list .prize_item .info {
        flex: 1 1 auto;
        height: 78px; }
        .gift_bg .bottom_area .prize_list .prize_item .info .date {
          margin-top: 5px; }
      .gift_bg .bottom_area .prize_list .prize_item .prize {
        flex: 0 0 auto;
        height: 78px;
        line-height: 78px; }
      .gift_bg .bottom_area .prize_list .prize_item:last-of-type {
        border: none; }

.bg_day {
  background-image: url(https://img11.360buyimg.com/jdphoto/s750x1334_jfs/t20380/180/2274906942/339833/93b25ee5/5b4db69bN346f22bf.png); }

.bg_night {
  background-image: url(https://img11.360buyimg.com/jdphoto/s750x1334_jfs/t22903/230/1062564885/160739/bd60cfc6/5b4f096fNc0933b9e.png); }

.gift_bg_day {
  background-image: url(https://img11.360buyimg.com/jdphoto/s750x1533_jfs/t20818/142/2278806745/216995/f67b48c2/5b4f0984N6b6d0c67.png); }

.gift_bg_night {
  background-image: url(https://img11.360buyimg.com/jdphoto/s750x1533_jfs/t21427/124/2254655301/93208/bd54592e/5b4f09caNea8444fd.png); }

view,
br {
  display: block; }

.fwl {
  font-weight: lighter; }

.fwb {
  font-weight: bold; }

.tc {
  text-align: center; }

.fz20 {
  font-size: 20px; }

.fz24 {
  font-size: 24px; }

.fz28 {
  font-size: 28px; }

.fz30 {
  font-size: 30px; }

.fz32 {
  font-size: 32px; }

.fz45 {
  font-size: 45px; }

.fz50 {
  font-size: 50px; }

.colorW {
  color: white; }

.colorO {
  color: #fe7145; }

.colorG {
  color: #999; }

.colorB {
  color: #333; }

.colorOL {
  color: #f6bc50; }

.bgOW {
  background: #fef4e1; }

.bgOD {
  background: #e8d0a0; }

.br20 {
  border-radius: 20px !important; }

.dialog {
  background: white;
  color: black;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  position: absolute;
  white-space: nowrap;
  padding: 5px 15px; }

.bottom:after {
  border: solid transparent;
  content: ' ';
  height: 0;
  left: 50%;
  position: absolute;
  width: 0;
  border-width: 10px;
  border-top-color: #fff;
  bottom: -19px; }

.hide {
  display: none; }

.mc {
  margin: 0 auto; }
